{% extends '../base.html' %}

{% block main %}

<div class="pcoded-content">
    
    <!-- [ Main Content ] start -->
    <div class="row">
        <div class="col-sm-12">
            <h3 class="mb-3">Atualizar dados</h3>
            <div class="card">
                <div class="card-body">
                    <div class="row">
                        <div class="col-md-12 col-sm-12">
                            <div class="tab-content" id="v-pills-tabContent">
                                <h2>Senha</h2>
                                <form method="post">
                                    {% csrf_token %}
                                    <div class="form-group">
                                        <label for="InputCurrentPass">Senha atual</label>
                                        <input type="password" required class="form-control" name="current_pass" id="InputCurrentPass" placeholder="Senha atual">
                                    </div>

                                    <div class="form-group">
                                        <label for="InputNewPass">Nova senha</label>
                                        <input type="password" required class="form-control" name="new_pass" id="InputNewPass" placeholder="Nova senha">
                                    </div>
                                    
                                    <a class="text-danger" style="margin-right: 30px" href="{% url 'clients_view' %}">Cancelar</a>
                                    <button type="submit" class="btn btn-primary">Atualizar</button>
                                </form>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <!-- [ Main Content ] end -->
</div>
{% endblock main %}
