{% load static %}
{% load template_tags %}
<!DOCTYPE html>
<html lang="pt-br">

    <head>
        <title>Healthy Body</title>
        <!-- HTML5 Shim and Respond.js IE11 support of HTML5 elements and media queries -->
        <!-- WARNING: Respond.js doesn't work if you view the page via file:// -->
        <!--[if lt IE 11]>
            <script src="{% static 'https://oss.maxcdn.com/libs/html5shiv/3.7.0/html5shiv.js' %}"></script>
            <script src="{% static 'https://oss.maxcdn.com/libs/respond.js/1.4.2/respond.min.js' %}"></script>
            <![endif]-->
        <!-- Meta -->
        <meta charset="utf-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0, user-scalable=0, minimal-ui">
        <meta http-equiv="X-UA-Compatible" content="IE=edge" />
        <meta name="description" content="" />
        <meta name="keywords" content="">
        <meta name="author" content="Arthur Silva" />
        <!-- Favicon icon -->
        <link rel="icon" href="{% static 'assets/images/favicon.ico' %}" type="image/x-icon">

        <!-- vendor css -->
        <link rel="stylesheet" href="{% static 'assets/css/style.css' %}">
        <link rel="stylesheet" href="{% static 'assets/css/custom.css' %}" />
        
        <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.6.1/jquery.min.js"></script>
        <style type="text/css">
            body{
                display: flex;
                height: 100vh;
                justify-content: center;
                align-items: center;
            }
            .signup{
                width: clamp(350px, 60%, 700px);
            }
        </style>
    </head>

    <body class="">
        <!-- [ Main Content ] start -->
        <div class="row signup">
            <div class="col-sm-12">
                <div class="card">
                    <div class="card-body">
                        <div class="row">
                            <div class="col-md-12">
                                <form method="post">

                                    <h3 class="mb-3">Exclusão de conta</h3>
                                    <h5>Lamentamos, {{name}}!<br><br>
                                    Mas esperamos ter você conosco novamente em breve.</h5><br>

                                    <a class="text-danger" style="margin-right: 30px" href="http://hbassesp.com">Ir para HB Assessoria esportiva</a>
                                    
                                </form>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        

        <!-- Required Js -->
        <script src="{% static 'assets/js/vendor-all.min.js' %}"></script>
        <script src="{% static 'assets/js/plugins/bootstrap.min.js' %}"></script>
        <script src="{% static 'assets/js/pcoded.min.js' %}"></script>
        <!-- Apex Chart -->
        <script src="{% static 'assets/js/plugins/apexcharts.min.js' %}"></script>
        <!-- custom-chart js -->
        <script src="{% static 'assets/js/pages/dashboard-main.js' %}"></script>

    </body>

</html>