{% extends '../base.html' %}
{% load static %}
{% load template_tags %}
{% block main %}

<div class="pcoded-content">
    
    <!-- [ Main Content ] start -->
    <div class="row">
        <div class="col-sm-12">
            <h3 class="mb-3">Controle de professores</h3>
            <div class="card">
                <div class="card-body">
                    <div class="row">
                        <div class="col-md-2 col-sm-12">
                            <ul class="nav flex-column nav-pills" id="v-pills-tab" role="tablist" aria-orientation="vertical">
                                <li>
                                    <a class="nav-link text-left {% if not edit_teacher %}active{% endif %}" id="v-pills-search-tab" data-toggle="pill" href="#v-pills-search" role="tab" aria-controls="v-pills-search" aria-selected="{% if edit_teacher %}false{% else %}true{% endif %}">
                                        Pesquisa
                                    </a>
                                </li>
                                <li>
                                    <a class="nav-link text-left {% if edit_teacher %}active{% endif %}" id="v-pills-manage-tab" data-toggle="pill" href="#v-pills-manage" role="tab" aria-controls="v-pills-manage" aria-selected="{% if edit_teacher %}true{% else %}false{% endif %}">
                                        {% if edit_teacher %}Edição{% else %}Cadastro{% endif %}        
                                    </a>
                                </li>
                            </ul>
                        </div>
                        <div class="col-md-10 col-sm-12">
                            <div class="tab-content" id="v-pills-tabContent">
                                <div class="tab-pane fade {% if not edit_teacher %}show active{% endif %}" id="v-pills-search" role="tabpanel" aria-labelledby="v-pills-search-tab">
                                    <h2>Professores</h2>
                                    <input class="form-control mb-3" id="SearchInput" type="text" placeholder="Procurar...">
                                    <table class="table table-bordered table-striped">
                                        <thead>
                                        <tr>
                                            <th>Nome</th>
                                            <th class="text-center">Status</th>
                                            <th class="text-center">Editar</th>
                                        </tr>
                                        </thead>
                                        <tbody id="ClientsTable">
                                            {% for teacher in teachers %}
                                                <tr>
                                                    <td>{{teacher.name}}</td>
                                                    <td class="text-center">
                                                        {% if teacher.is_active %}
                                                            <i class="feather icon-check-circle text-success"></i>
                                                        {% else %}
                                                            <i class="feather icon-slash text-danger"></i>
                                                        {% endif %}
                                                    </td>
                                                    <td class="text-center">
                                                        <a href="{% url 'teachers_view' %}?t={{teacher.id}}"><i class="feather icon-edit text-info"></i></a>
                                                    </td>
                                                </tr>
                                            {% endfor %}
                                        </tbody>
                                    </table>
                                </div>
                                <div class="tab-pane fade {% if edit_teacher %}show active{% endif %}" id="v-pills-manage" role="tabpanel" aria-labelledby="v-pills-manage-tab">
                                    <div class="col-md-12">
                                        <form method="post">
                                            {% csrf_token %}
                                            <div class="form-group">
                                                <label for="InputName">Nome</label>
                                                <input type="text" required class="form-control" name="name" id="InputName" placeholder="Nome do professor" value="{{teacher.name}}">
                                            </div>

                                            <div class="form-group">
                                                <label for="InputEmail">E-mail</label>
                                                <input type="text" required class="form-control" name="email" id="InputEmail" placeholder="E-mail do professor" value="{{teacher.email}}">
                                            </div>

                                            <div class="form-group">
                                                <h5 class="mb-3">Especialidades</h5>
                                                <div class="col-md-12 services-grid mb-3">
                                                    {% for service in services %}
                                                        <div class="form-group form-check check-group">
                                                            <input type="checkbox" name="services" {% if edit_teacher and service.name in teacher.skills.services %}checked{% endif %} value="{{service.name}}" class="form-check-input" id="Check{{service.id}}">
                                                            <label class="form-check-label" for="Check{{service.id}}">{{service.name}}</label>
                                                        </div>
                                                    {% endfor %}
                                                </div>
                                            </div>

                                            <div class="form-group">
                                                <div class="custom-control custom-switch mb-3">
                                                    <input type="checkbox" {% if edit_teacher and not teacher.is_hired %}{% else %}checked{% endif %} name="is_hired" class="custom-control-input" id="customswitch2">
                                                    <label class="custom-control-label" for="customswitch2">Contratado</label>
                                                </div>
                                            </div>

                                            <div class="form-group">
                                                <h5 class="mb-3">Disponibilidade</h5>
                                                <div class="col-md-12 services-grid mb-3">
                                                    {% for day in weekday_interval %}
                                                        <div class="form-group form-check check-group">
                                                            <input type="checkbox" name="availabilities" {% if edit_teacher and day|slugify in teacher.availability.availabilities %}checked{% endif %} value="{{day}}" class="form-check-input" id="Check{{day}}">
                                                            <label class="form-check-label" for="Check{{day}}">{{day|intToWeekday}}</label>
                                                        </div>
                                                    {% endfor %}
                                                </div>
                                            </div>

                                            <div class="form-group">
                                                <h5 class="mb-3">Graduação/detalhes</h5>
                                                <div class="form-group">
                                                    <textarea class="form-control" name="description" rows="5">{% if edit_teacher %}{{teacher.description}}{% endif %}</textarea>
                                                </div>
                                            </div>

                                            <div class="form-group">
                                                <div class="custom-control custom-switch mb-3">
                                                    <input type="checkbox" {% if edit_teacher and not teacher.is_active %}{% else %}checked{% endif %} name="is_active" class="custom-control-input" id="customswitch1">
                                                    <label class="custom-control-label" for="customswitch1">Ativo</label>
                                                </div>
                                            </div>

                                            {% if edit_teacher %}
                                                <a class="text-danger" style="margin-right: 30px" href="{% url 'teachers_view' %}">Cancelar</a>
                                            {% endif %}
                                            <button type="submit" class="btn btn-primary">Adicionar</button>
                                        </form>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <!-- [ Main Content ] end -->
</div>
<script>
$(document).ready(function(){
    $("#SearchInput").on("keyup", function() {
        var value = $(this).val().toLowerCase();
        $("#ClientsTable tr").filter(function() {
            $(this).toggle($(this).text().toLowerCase().indexOf(value) > -1)
        });
    });
});
</script>
{% endblock main %}
